server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/paymentsdb
    username: postgres
    password: Gautam123@
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
